.img {
    width: 300px;
    height: auto;
    border-radius: 15px;
  }

.container{
  border: 2px solid black;
  border-radius: 10px;
  display:inline-block;
}

.name{
  background-color: crimson;

}
  
